a {
    font-size: 2em;
    text-align: center;
}

fieldset {
    width: 18em;
    height: 18em;
}

p {
    font-size: 1.8em;
}

.pagina {
    text-align: center;
    position: absolute;
    margin-top: 6em;
    width: 1em;
}

#pg1 {
    margin-left: 1em;
}

#pg2 {
    margin-left: 32em;
}

#pg3 {
    margin-left: 62em;
}