a {
    font-size: 2em;
    text-align: center;
}

fieldset {
    width: 25em;
    height: 25em;
}

p {
    font-size: 2.5em;
}

.pagina {
    text-align: center;
    position: absolute;
    margin-top: 10em;
    width: 10em;
}

#pg1 {
    margin-left: 4.5em;
}

#pg2 {
    margin-left: 46em;
}

#pg3 {
    margin-left: 86em;
}